<h2>echarts 图表</h2>

<div class="map-content">
    <mysite-echarts id="echarts_content"
                    [options]="options"
                    [width]="width"
                    [height]="height"
                    (initComplete)="initComplete($event)"
    ></mysite-echarts>
</div>

<nz-divider></nz-divider>

<div>
    <span>手动切换地图</span>
    <nz-radio-group>
        <label nz-radio-button (click)="initOptions('line')">线状图</label>
        <label nz-radio-button (click)="initOptions('bar')">柱状图</label>
        <label nz-radio-button (click)="initOptions('pie')">饼图</label>
        <label nz-radio-button (click)="initOptions('scatter')">散点图</label>
        <label nz-radio-button (click)="initOptions('candlestick')">K线图</label>
        <label nz-radio-button (click)="initOptions('radar')">雷达图</label>
        <label nz-radio-button (click)="initOptions('heatmap')">热力图</label>
        <label nz-radio-button (click)="initOptions('graph')">关系图</label>
        <label nz-radio-button (click)="initOptions('tree')">树形图</label>
        <label nz-radio-button (click)="initOptions('treemap')">矩形树图</label>
        <label nz-radio-button (click)="initOptions('suburst')">旭日图</label>
        <label nz-radio-button (click)="initOptions('guage')">仪表图</label>
        <label nz-radio-button (click)="initOptions('pictorialBar')">象形柱图</label>
        <label nz-radio-button (click)="initOptions('bar3D')">3D柱状图</label>
    </nz-radio-group>
</div>

<nz-divider></nz-divider>
