.ant-tag {
    margin-bottom: 8px;
}

.editable-tag ::ng-deep .ant-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
}

button {
    width: 70px;
    text-align: center;
    padding: 0;
    margin-right: 8px;
    margin-bottom: 8px;
}

nz-input-group {
    padding: 10px 0;
}

:host ::ng-deep .draggable-tree .ant-tree-node-content-wrapper {
    width: calc(100% - 42px);
}

:host ::ng-deep .ant-tree {
    overflow: hidden;
    margin: 0 -24px;
    padding: 0 24px;
}

:host ::ng-deep .ant-tree li {
    padding: 4px 0 0 0;
}

.custom-node {
    cursor: pointer;
    line-height: 24px;
    margin-left: 4px;
    display: inline-block;
    margin: 0 -1000px;
    padding: 0 1000px;
}

.active {
    background: #1890FF;
    color: #fff;
}

.file-name, .folder-name {
    margin-left: 4px;
}

.file-desc, .folder-desc {
    padding: 0 8px;
    display: inline-block;
    background: #87CEFF;
    color: #FFFFFF;
    position: relative;
    left: 12px;
}
