<mysite-zorro-tree #zorroTree
                   [(nodes)]="nodes"
                   [(nzExpandedKeys)]="nzExpandedKeys"
                   [(nzCheckedKeys)]="nzCheckedKeys"
                   [(nzSelectedKeys)]="nzSelectedKeys"
                   [(nzSearchValue)]="nzSearchValue"
                   [nzExpandAll]="nzExpandAll"
                   [nzCheckable]="nzCheckable"
                   [nzMultiple]="nzMultiple"
                   [nzCheckStrictly]="nzCheckStrictly"
                   [nzShowExpand]="nzShowExpand"
                   [nzShowLine]="nzShowLine"
                   [nzShowIcon]="nzShowIcon"
                   [nzAsyncData]="nzAsyncData"
                   [nzDraggable]="nzDraggable"
                   [nzBeforeDrop]="nzBeforeDrop"
                   (clickEvent)="clickEvent($event)"
                   (dbClickEvent)="dbClickEvent($event)"
                   (contextMenuEvent)="contextMenuEvent($event)"
                   (checkBoxChangeEvent)="checkBoxChangeEvent($event)"
                   (expandChangeEvent)="expandChangeEvent($event)"
                   (searchValueChangeEvent)="searchValueChangeEvent($event)"
                   (dragStartEvent)="dragStartEvent($event)"
                   (dragEnterEvent)="dragEnterEvent($event)"
                   (dragOverEvent)="dragOverEvent($event)"
                   (dragLeaveEvent)="dragLeaveEvent($event)"
                   (dropEvent)="dropEvent($event)"
                   (dragEndEvent)="dragEndEvent($event)"
></mysite-zorro-tree>
